@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@400;700&display=swap');

.main {
    background: #141414;
}
.container {    
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav__link {
    color: #FFFFFF;
    font-weight: 400; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    transition: .3s ease color;
    margin-right: 45px;
}
