@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@400;700&display=swap');

.main {
    background: #141414;
}
.container {    
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav__link {
    text-transform: lowercase;
    text-decoration: none;
    transition: .3s ease color;
    margin-right: 45px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
